.form-create-natal-chart__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.form-create-natal-chart {
    padding: 30px 20px;
    border: solid 2px #f0f0f0;
}

.form-create-natal-chart__form-row {
    display: flex;
    margin-bottom: 30px;
}

.form-create-natal-chart__input-wrapper {
    width: 250px;
    margin-right: 20px;

    input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background: #fff;
        border: none;
    }
}

.form-create-natal-chart__input-wrapper-title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.account-natal-front-sec {
    padding-top: 160px;
    padding-bottom: 180px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .first__abs {
        position: relative;
        top: auto;
        right: auto;
        width: 430px;
        height: 430px;
    }
}

.account-natal-front-sec__img-wrapper {
    width: 430px;
}

.account-natal-front-sec__info {
    width: 710px;
}

.account-natal-front-sec__title {
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}

.account-natal-front-sec__subtitle {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.account-natal-data-sec {
    margin-bottom: 180px;

    .container {
        flex-wrap: wrap;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        padding: 40px 55px;
        background: #18181A;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-image: url('/assets/img/head_bg.jpg');
        background-size: cover;
        background-position: center;
    }
}

.account-natal-data-sec__title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.account-natal-data-sec__row {
    display: flex;
    justify-content: space-between;
}

.account-natal-data-sec__form {
    width: 400px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 49, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.account-natal-data-sec__time-wrapper-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.account-natal-data-sec__time-wrapper {
    margin-bottom: 20px;
    transition: all ease 0.3s;

    .dp__input_wrap {
        z-index: 1;
    }

    input {
        border-radius: 6px;
        background: #ECEFF5;
        width: 100%;
        border: none;
        transition: all 0.5s ease;

        color: rgba(22, 22, 24, 0.8);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 15px 30px 15px 15px;
    }

    .dp__input_icon {
        top: calc(50% - (16px / 2));
        padding: 0;
        left: auto;
        right: 15px;
        transform: translateY(0)
    }

    .dp--clear-btn {
        top: calc(50% - (16px / 2));
        transform: translateY(0);
        right: 40px;

        svg {
            padding: 0;
        }
    }
}

.account-natal-data-sec__forged-time {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    transition: all ease 0.3s;
}

.account-natal-data-sec__forget {
    font-size: 14px;

}

.forgetTime {
    opacity: 0.5;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        z-index: 50;
        width: 100%;
        height: 100%;
    }
}

.forgetTimeChckbox {
    opacity: 1;
}

.location-wrapper__input-wrapper-search-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.location-wrapper__input-container {
    position: relative;
    width: calc(100% - 60px);
    display: flex;
    align-items: center;

    input {
        border-radius: 6px;
        background: #ECEFF5;
        width: 100%;
        border: none;
        transition: all 0.5s ease;

        color: rgba(22, 22, 24, 0.8);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 15px 30px 15px 15px;
    }
}

.location-wrapper__input-container-remove {
    position: absolute;
    right: 10px;
    width: 20px;
    cursor: pointer;

    svg {
        width: 100%;
        display: block;

        path {
            fill: #8E9093;
        }
    }
}

.location-wrapper__row-cordinats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.location-wrapper__current-cordinats-inp {
    width: calc(50% - 10px);

    input {
        border-radius: 6px;
        background: #ECEFF5;
        width: 100%;
        border: none;
        transition: all 0.5s ease;

        color: rgba(22, 22, 24, 0.8);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 15px 30px 15px 15px;
    }
}

.location-wrapper__input-wrapper-search-btn {
    width: 49px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    text-align: center;
    background: linear-gradient(180deg, #716CF0 0%, #5853E3 100%);
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    transition: all 0.5s ease;

    svg {
        path {
            fill: $white
        }
    }

}

.location-wrapper__input-wrapper {
    margin-bottom: 20px;
    position: relative;
    z-index: 20;
}

.account-natal-data-sec__btn {
    width: 100%;
    padding-top: 20px;

    button {
        width: 100%;
        padding: 15px 0;
        text-align: center;
        background: linear-gradient(180deg, #716CF0 0%, #5853E3 100%);
        color: #fff;
        font-weight: 500;
        border: none;
        font-size: 14px;
        border-radius: 8px;
        transition: all 0.5s ease;
        display: block;
    }
}

.error-text-form {
    margin-top: 5px;
    font-size: 12px;
    color: $red2;
    width: 100%;
}

.location-wrapper__search-result {
    position: absolute;
    left: 0;
    top: 49px;
    background: #ECEFF5;
    width: 290px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.location-wrapper__search-result-title {
    color: rgba(22, 22, 24, 0.60);
    padding: 10px 15px;
    font-size: 14px;
}

.location-wrapper__search-result-list-value {
    padding: 10px 15px;
    color: rgba(22, 22, 24, 1);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-bottom: solid 1px #ccc;

    &:last-child {
        border: none;
    }
}

.location-wrapper__search-result-list {
    max-height: 300px;
    overflow-y: auto;
}

.account-natal-data-sec__info-wrapper {
    display: flex;
    align-items: flex-start;
}

.natal-history {
    margin-right: 30px;
    padding: 25px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 49, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.natal-history__title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.natal-chart-sec {
    .container {
        border: 1px solid rgba(255, 255, 255, 0.05);
        padding: 40px 55px;
        background: #18181A;
        border-radius: 20px;
    }
}

.natal-chart-sec__main-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.natal-chart-sec__main-info {
    width: 50%;
}

.natal-chart-sec__natal-chart-svg {
    width: 50%;
}

.natal-chart-sec {
    margin-bottom: 150px;
}

.natal-chart-sec__title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.planet-position-table__row {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background: #303031;
    padding: 10px 10px;
    border-radius: 10px;
}

.planet-position-table__col-dome {
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
}

.planet-position-table__col-dom-text {
    text-align: center;
}

.planet-position-table__col-position {
    width: 200px;
    display: flex;
    align-items: center;
}

.planet-position-table__col-planets {
    width: 150px;

    img {
        width: 30px;
    }
}

.planet-position-table__header-row {
    background: none;
    padding-top: 0;
    padding-bottom: 0;

    font-size: 14px;

}

.planet-position-table__col-planets {
    display: flex;
    align-items: center;
}

.planet-position-table__col-planets-img {
    width: 25px;
    display: block;
}

.planet-position-table__col-planets-name {
    width: calc(100% - 25px);
    padding-left: 15px;
}

.planet-position-table__col-position-text {
    font-size: 14px;
}

.planet-position-table__col-planets-name {
    font-size: 14px;
    padding-left: 10px;
}

.natal-chart-sec__natal-chart-svg {
    width: 520px;
    height: 520px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet-text {
    display: none;
}

.planet-circle {
    cursor: pointer;
}

.planet-circle:hover+.planet-text {
    display: inline-block;

}

.aspect-text {
    display: none;
}

.aspect-line {
    cursor: pointer;
}

.aspect-line:hover+.aspect-text {
    display: inline-block;
}

.account-natal-data-sec__prognoz-container {
    margin-top: 50px;
    width: 100%;
}

.natal-prognoz__nav {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: rgba(65, 65, 65, 0.6);
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;

}

.natal-prognoz__nav-element {
    width: 50%;
    text-align: center;
    font-size: 20px;
    padding: 15px 0;
    font-weight: 500;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.natal-prognoz__nav-element_activ {
    background: linear-gradient(180deg, #716CF0 0%, #5853E3 100%);
    color: #fff;
}

.natal-chart-list {
    margin-bottom: 60px;
}

.natal-chart-list__wrapper {
    border-radius: 20px;
    border: 1px solid #242426;
    padding: 55px;
    background: #18181A;
}

.natal-chart-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.natal-chart-list__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.natal-chart-list__btn-create {
    padding: 12px 20px;
    text-align: center;
    background: linear-gradient(180deg, #716CF0 0%, #5853E3 100%);
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    transition: all 0.5s ease;
    display: inline-block;
}

.natal-chart-list__table {
    margin-top: 50px;
}

.natal-chart-list__table-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #222;
    border: solid 1px #222;
    padding: 15px 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.natal-chart-list__table-element-row-data {
    display: flex;
    align-items: center;
}

.natal-chart-list__table-element-btn-row {
    display: flex;
    align-items: center;
}

.natal-chart-list__table-element-del-btn {
    cursor: pointer;

    svg {
        display: block;
    }
}

.natal-chart-list__table-element-select-btn {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    border-radius: 100px;
    background: #464646;
    padding: 9px 17px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin-right: 25px;
}

.natal-chart-list__table-element-select-btn-activ {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    border-radius: 100px;
    background: #9AEEC0;
    padding: 9px 17px;

    color: #161618;
    border: none;
    margin-right: 25px;
}

.dt-col {
    border-right: solid 1px rgba(255, 255, 255, 0.10);
    height: 30px;
    display: flex;
    align-items: center;

    &:last-child {
        border: none;
    }
}

.natal-chart-list__table-element-text-data {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #8B8B8D;

    span {
        color: #fff;
    }
}

.natal-chart-list__table-element-col-1 {
    width: 90px;
}

.natal-chart-list__table-element-col-2 {
    width: 310px;

    .natal-chart-list__table-element-text-data {
        width: 100%;
        text-align: center;
    }
}

.natal-chart-list__table-element-col-3 {
    width: 200px;

    .natal-chart-list__table-element-text-data {
        width: 100%;
        text-align: center;
    }
}

.natal-chart-list__table-element-row-data {
    width: calc(100% - 160px);
}

.natal-chart-list__table-element-activ {
    border: 1px solid #716CF0;
    background: #303031;
}

.natal-prognoz__planets-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.natal-prognoz__planet-element {
    cursor: pointer;
    display: block;
    width: calc(20% - 15px);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background: #222222;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: rgba(65, 65, 65, 0.6);
}

.natal-prognoz__planet-element-img {
    width: 40px;
    display: block;
}

.natal-prognoz__planet-element-title {
    font-size: 20px;
    margin-top: 15px;
    width: 100%;
    font-weight: 500;
}

.natal-prognoz__planet-element-subtitle {
    font-size: 14px;
    margin-top: 10px;
}

.natal-prognoz__value-container {
    background: #F3E7D9;
    border-radius: 20px;
    margin-top: 20px;
}

.natal-prognoz__value-container-header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.natal-prognoz__value-container-icon {
    display: flex;
    align-items: center;
}

.natal-prognoz__value-container-planet-icon {
    width: 40px;
    display: block;
}

.natal-prognoz__value-container-zodiac-icon {
    width: 40px;
    display: block;
    margin-left: 10px;
}

.natal-prognoz__value-container-header-text {
    margin-left: 20px;
}

.natal-prognoz__value-container-header-title {
    font-size: 28px;
    font-weight: 700;
    color: #161618;
    line-height: 1;
}

.natal-prognoz__value-container-header-subtitle {
    font-size: 16px;
    margin-top: 5px;
    color: #161618;
}

.natal-prognoz__value-container-body {
    padding: 10px 20px 20px 20px;

    .wp-redactor {
        color: #161618;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 15px;
        }

        p {
            line-height: 1.5;
            margin-bottom: 30px;
        }

        hr {
            margin-bottom: 30px;
            border-color: rgba(0, 0, 0, 0.1);
        }

        ul {
            li {
                margin-bottom: 15px;
                padding-left: 20px;
                position: relative;
                font-size: 16px;
                line-height: 1.5;

                &::before {
                    width: 7px;
                    height: 7px;
                    position: absolute;
                    content: "";
                    border-radius: 100px;
                    background: #222;
                    left: 0;
                    top: 6px;
                }
            }
        }
    }
}

.natal-prognoz__planet-element_activ {
    background: #6F6AC3;
}

.house-prognoz__value-containert {
    .natal-prognoz__value-container-header-text {
        margin-left: 0;
        display: flex;
        align-items: center;
        padding-left: 0;
    }

    .natal-prognoz__value-container-header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .natal-prognoz__value-container-body {
        padding-bottom: 40px;
    }

    .natal-prognoz__value-container-header-subtitle {
        margin-top: 0;
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid #ccc;
    }


}

.house-prognoz-list__element {
    width: calc(25% - 15px);
}

.natal-prognoz__block {
    border: 1px solid rgba(154, 238, 192, 0.29);

    transition: all ease 0.3s;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    background: #222;
    border-radius: 10px;
    padding: 45px 0;
    margin-top: 20px;

    &:hover {
        border: 1px solid rgba(154, 238, 192, 1);
        transition: all ease 0.3s;

    }
}

.natal-prognoz__block-icon-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.natal-prognoz__block-icon-wrapper {
    background: #161618;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: solid 1px rgba(255, 255, 255, 0.17);
}

.natal-prognoz__block-title {
    text-align: center;
    color: #FFF;

    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.natal-prognoz__block-btn-row {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.natal-prognoz__ascedant {
    .natal-prognoz__value-container-body {
        padding: 45px 30px;
    }
}

.natal-prognoz__ascedant-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #222;
}

.natal-prognoz__btn-read-more {
    margin-top: 30px;
    cursor: pointer;
}


@media only screen and (max-width: 1200px) {
    .account-natal-front-sec .container {
        flex-wrap: wrap;
    }

    .account-natal-front-sec__info {
        width: 100%;
        order: 2;
    }

    .account-natal-front-sec .first__abs {
        height: auto;
        bottom: auto;
        order: 1;
        display: none;

    }

    .account-natal-front-sec__img-wrapper {
        width: auto;
    }

    .account-natal-front-sec {
        padding-bottom: 100px;
    }

    .natal-chart-list__wrapper {
        padding: 30px;
    }



    .natal-chart-list__table-element-col-3 {
        display: none;
    }

    .natal-chart-list__table-element-col-4 {
        display: none;
    }

    .natal-chart-sec .container {
        padding: 30px;
    }

    .natal-chart-sec__main-row {
        flex-wrap: wrap;
    }

    .natal-chart-sec__main-info {
        width: 100%;
    }

    .planet-position-table__row {
        width: 100%;
    }

    .natal-chart-sec__natal-chart-svg {
        width: 100%;
        margin-top: 30px;
    }

    .natal-prognoz__nav {
        width: 100%;
    }

    .natal-prognoz__nav-element {
        font-size: 16px;
    }

    .natal-prognoz__planet-element {
        cursor: pointer;
        display: block;
        width: calc(25% - 10px);
        margin: 0 5px 10px 5px;
        border-radius: 10px;
    }

    .natal-prognoz__planet-element-img {
        margin: 0 auto;
    }

    .natal-prognoz__planet-element-title {
        font-size: 16px;
    }

    .natal-prognoz__planets-list {
        width: calc(100% + 10px);
        margin-left: -5px;
        justify-content: flex-start;
    }

    .natal-chart-sec {
        margin-bottom: 100px;
    }

    .account-natal-data-sec .container {
        justify-content: center;
    }

}

@media only screen and (max-width: 750px) {
    .account-natal-front-sec__title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .account-natal-front-sec__subtitle {
        font-size: 16px;
    }

    .account-natal-front-sec__img-wrapper {
        display: block;
        margin-bottom: 30px;
    }

    .account-natal-front-sec .first__abs {
        display: block;
        width: 100%;
    }

    .account-natal-front-sec {
        padding-top: 100px;
        padding-bottom: 70px;
    }

    .natal-chart-list__wrapper {
        padding: 20px 15px;
    }

    .natal-chart-list__header {
        flex-wrap: wrap;
    }

    .natal-chart-list__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .natal-chart-list__table {
        margin-top: 30px;
    }

    .natal-chart-list__table-element-text-data {
        font-size: 12px;
    }

    .natal-chart-list__table-element-select-btn-activ {
        padding: 7px 8px;
        font-size: 11px;
        margin-right: 10px;
    }

    .natal-chart-list__table-element-select-btn {
        padding: 7px 8px;
        font-size: 11px;
        margin-right: 10px;
    }

    .natal-chart-list__table-element-row-data {
        width: calc(100% - 120px);
    }

    .natal-chart-list__table-element {
        padding: 10px;
    }

    .natal-chart-list__table-element-col-2 .natal-chart-list__table-element-text-data {
        padding: 0 5px;
    }

    .natal-chart-list {
        margin-bottom: 30px;
    }

    .natal-chart-sec .container {
        padding: 20px 15px;
    }

    .planet-position-table__col-planets-name {
        font-size: 12px;
    }

    .planet-position-table__col-position-text {
        font-size: 12px;
    }

    .planet-position-table__col-dome {
        font-size: 12px;
        width: 15%;
    }

    .planet-position-table__col-planets {
        width: 35%;
    }

    .planet-position-table__col-position {
        width: 40%;
    }

    .natal-chart-sec__natal-chart-svg {
        height: 340px;
        border-radius: 15px;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .account-natal-data-sec__prognoz-container {
        margin-top: 30px;
    }

    .natal-prognoz__nav {
        flex-wrap: wrap;
        border-radius: 10px;
    }

    .natal-prognoz__nav-element {
        width: 100%;
    }

    .natal-prognoz__planet-element {
        width: calc(33.333% - 10px);
        padding: 10px 0;
    }

    .natal-prognoz__planet-element-img {
        width: 30px;
    }

    .natal-prognoz__planet-element-title {
        margin-top: 10px;
        font-size: 12px;
    }

    .natal-prognoz__planet-element-subtitle {
        font-size: 10px;
        margin-top: 5px;
    }

    .natal-prognoz__value-container-header-title {
        font-size: 18px;
    }

    .natal-prognoz__value-container-header-subtitle {
        font-size: 14px;
    }

    .house-prognoz__value-containert .natal-prognoz__value-container-header-subtitle {
        font-size: 14px;
    }

    .natal-chart-sec {
        margin-bottom: 70px;
    }

    .natal-prognoz__nav-element {
        font-size: 14px;
        padding: 10px 0;
        border-radius: 10px;
    }

    .natal-prognoz__ascedant-title {
        font-size: 20px;
    }

    .natal-prognoz__ascedant .natal-prognoz__value-container-body {
        padding: 25px 20px;
    }

    .natal-prognoz__value-container-body .wp-redactor {
        p {
            font-size: 14px;
        }

        ul {
            li {
                font-size: 14px;
            }
        }
    }

    .account-natal-data-sec__icon-wrapper {
        display: none;
    }

    .account-natal-data-sec__info-wrapper {
        width: 100%;
    }

    .account-natal-data-sec .container {
        padding: 0;
    }

    .location-wrapper__input-container input {
        font-size: 14px;
    }

}