.popup-system-wrapper {
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
}

.popup {
    position: absolute;
    border-radius: 4px;
    background: #222;
    padding: 30px;
    box-shadow: 0px 2px 10px 0px rgba(38, 44, 71, 0.16);
}

.popup__close-btn {
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: all ease 0.3s;

    svg {
        display: block;
        width: 40px;
        height: auto;

    }

    &:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }
}

.popup-edit-service {
    width: 933px;
}

.popup-registration {
    width: 380px;
    border-radius: 20px;
    // border: solid 1px #3C3C3D;

    .field-input {
        margin-bottom: 20px;

        .field-input__wrapper {
            input {
                padding: 15px;
                border-radius: 15px;
            }
        }
    }

    .yaPersonalButton_m {
        height: 48px;
    }
}

.popup-registration__title {
    text-align: center;
    font-size: 26px;
    color: $white;
}

.popup-registration__subtitle {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    opacity: 0.7;
    margin-bottom: 25px;
}

.button-popup {
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(180deg, #716CF0 0%, #5853E3 100%);
    color: #fff;
    font-weight: 500;
    font-size: 14px;

    transition: all 0.5s ease;
    display: block;
    border: none;

    &:hover {
        transform: scale(1.02);
        transition: all 0.5s ease;
    }
}

.button-popup-wrapper {
    margin-top: 35px;
}

.popup-registration__error {
    font-size: 12px;
    color: #ff7f81;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.personal-data-checbox {
    display: flex;
    justify-content: space-between;

}

.personal-data-checbox__text {
    width: calc(100% - 30px);
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);

    a {
        color: #fff;


    }
}

.popup-registration__popup-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.popup-registration__popup-link-litle {
    text-align: center;
    font-size: 13px;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        opacity: 1;
        transition: all ease 0.3s;
    }
}

.button-popup-wrapper-yandex {
    margin-top: 20px;
}

.yandex-id-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background: #000;
    font-size: 14px;
    color: #fff;
    border: none;

    svg {
        display: block;
        margin-right: 14px;
    }
}


.popup-user-created {
    width: 380px;
    border-radius: 20px;
    // border: solid 1px #3C3C3D;



}

.popup-user-created__img-wrapper {
    display: flex;
    justify-content: center;
}

.popup-user-created__img {
    width: 200px;
}

.popup-user-created__title {
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-weight: 500;
}

.popup-user-created__subtitle {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

.popup-user-created__btn-row {
    margin-top: 40px;
}



// pay form popup
.popup-pay-form {
    width: 750px;
    padding: 0;
    border-radius: 20px;
    background: #303031;
}

.popup-pay-form__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-pay-form__img-wrapper {
    width: 50%;
    height: 505px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

.popup-pay-form__info {
    width: 50%;
}

.popup-pay-form__info {
    padding: 35px 25px;
}

.popup-pay-form__services-element {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.popup-pay-form__services-element-icon-wraper {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6F6AC3;

    svg {
        display: block;
        width: 10px;
        height: auto;
    }
}

.popup-pay-form__services-element-data {
    width: calc(100% - 20px);
    font-size: 13px;
    font-weight: 300;
    padding-left: 15px;
}

.popup-pay-form__fields-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    .button-popup-wrapper {
        margin-top: 20px;

        button {
            border-radius: 10px;
        }
    }
}

.popup-pay-form__confirm-list-wrapper {
    .personal-data-checbox {
        margin-bottom: 20px;
    }

    .personal-data-checbox__text {
        font-size: 12px;
        color: #fff;

        a {
            text-decoration: underline;
        }
    }
}

.error-checkbox-text {
    font-size: 12px;
    color: $red2;
    padding-left: 30px;
}

.popup-pay-form__fields-wrapper {
    .field-input__text {
        margin-top: 0;
    }
}

.popup-user-pay-confirm {
    background: #6F6AC3;
}



@media only screen and (max-width: 825px) {
    .popup__close-btn {
        right: -3px;
    }

    .popup-pay-form {
        width: calc(100% - 30px);
    }
}

@media only screen and (max-width: 750px) {
    .popup-pay-form__wrapper {
        flex-wrap: wrap;
    }

    .popup-pay-form {
        width: 350px;
    }

    .popup-pay-form__info {
        width: 100%;
        padding: 20px;
        order: 1;
    }

    .popup-pay-form__img-wrapper {
        width: 100%;
        height: 220px;
        border-radius: 20px 20px 0 0;
    }

    .popup-pay-form__services-element-data {
        font-size: 12px;
    }

    .popup-pay-form__services-element {
        align-items: center;
    }

    .popup-pay-form__fields-wrapper {
        padding: 10px 0 20px 0;
    }

    .popup-pay-form__confirm-list-wrapper .personal-data-checbox__text {
        font-size: 11px;
    }

    .popup-pay-form__confirm-list-wrapper .personal-data-checbox {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .popup-registration {
        width: 350px;
        padding: 30px 20px;
    }
}