/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.work__slider .slick-track {
  display: flex;
  align-items: flex-end;
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */

.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    width: 206px;
    height: 74px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev
{
  width: 62px;
  height: 62px;
  border-radius: 100%;
  background: #303031;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
  transition: all 0.5s ease;
  bottom: -140px;
  left: 12px;
  &::before {
    position: absolute;
    content: '';
    width: 180px;
    height: 25px;
    background: url('../img/svg/arrow-l.svg');
    background-repeat: no-repeat;
    background-size: contain;
    left: 25px;
    top: 40%;
    transition: all 0.5s ease;
  }
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}

.slick-next
{
    right: 12px;
    bottom: -140px;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background: #303031;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
    transition: all 0.5s ease;
    &::before {
      position: absolute;
      content: '';
      width: 180px;
      height: 25px;
      background: url('../img/svg/arrow-r.svg');
      background-repeat: no-repeat;
      background-size: contain;
      left: -142px;
      top: 40%;
      transition: all 0.5s ease;
    }
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}

/* Dots */


.slick-dots
{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    margin: 30px 0 0 0;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 6px;
    height: 6px;
    margin: 0 10px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li.slick-active button {
    width: 6px;
    height: 6px;
    background: #000000;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    background: #DEDEDE;
    display: block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    padding: 2px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-size: 0   ;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;
    font-size: 40px;

    content: '';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

@media only screen and (max-width: 1250px) {
  .slick-next::before {
    width: 46px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    left: -26px;
    top: 38%;
  }
  .slick-next, .blog__items .slick-next {
    width: 33px;
    height: 33px;
    right: 13px;
  }
  .slick-next {
    right: 2px;
  }


}
@media only screen and (max-width: 750px) {
  .blog__items .slick-next {
    right: 2px;
    left: auto;
  }
}