* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
  color: #fff;

	&:hover {
		text-decoration: none;
	}
}

li {
	list-style-type: none;
}

button {
	cursor: pointer;
	outline: 0 none !important;

}

body::-webkit-scrollbar {
	width: 3px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.slick-slide img:focus {
	outline: none !important;
}

.slick-slide:focus {
	outline: none !important;
}

.towar-box-sec5 a {
	outline: none !important;
}

.slick-slide {
	outline: none !important;
}

.slick-slide p {
	outline: none !important;
}

.slick-slide a {
	outline: none !important;
}

.slick-slide div {
	outline: none !important;
}

.slick-track {
	outline: none !important;
}

input {
	outline: 0 none !important;

	font-family: $mainFont
}

input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=tel] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=email] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	font-family: $mainFont;
}

select {
	cursor: pointer;
	outline: 0 none !important;
	font-family: $mainFont;
}

textarea {
	outline: 0 none !important;
	font-family: $mainFont;
}

body {
	background: #161618;
	font-family: $mainFont;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $mainFont;
}

ul {
	margin-bottom: 0;
}

.app {
	overflow: hidden;
	min-width: 320px;
}

.container {
	max-width: 1340px;
	margin: 0 auto;
}

.post__container {
	max-width: 1070px;
	margin: 0 auto;
}

.main__btn {
	padding: 10px 39px;
  background: linear-gradient(180deg, #716CF0 0%, #5853E3 100%);
	color: #fff;
	font-weight: 500;
  font-size: 14px;
	border-radius: 8px;
	transition: all 0.5s ease;
  display: block;
}

.main__title {
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
}



.mission__info .wp-redactor {
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		font-size: 42px;
		margin-bottom: 40px;
    line-height: 120%; /* 50.4px */
	}
	p {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-bottom: 30px;
	}
	a {
		color: rgba(88, 83, 227, 1);
	}
	ul, ol {
		padding: 0;
		margin: 0 0 20px 0;
	}
	ul li, ol li {
		list-style-position: inside!important;
		margin: 0 0 10px 0;
		font-size: 20px;
	}
	ul li {
		list-style: disc;
	}
	ol li {
		list-style: decimal;
	}
}

.post__content .wp-redactor {
  max-width: 720px;
	h1, h2, h3, h4, h5, h6 {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 126.667% */
    margin-bottom: 20px;
	}
	p {
    color: rgba(255, 255, 255, 0.81);
    margin-bottom: 20px;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
	}
	a {
		color: rgba(255, 255, 255, 0.81);
    text-decoration: underline;
	}
	ul, ol {
		padding: 0;
		margin: 0 0 20px 0;
    padding-left: 20px;
	}
	ul li, ol li {
		margin: 0 0 10px 0;
    color: rgba(255, 255, 255, 0.81);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
	}
	ul li {
		list-style: disc;
	}
	ol li {
		list-style: decimal;
	}
}

//mobile first
@media only screen and (min-width: 1000px) {
  .slick-next:hover {
    &::before {
      left: -122px;
      transition: all 0.5s ease;
    }
  }
  .slick-next:active, .slick-prev:active {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 15px 0px;
    transition: all 0.5s ease;
  }
  .slick-prev:hover {
    &::before {
      left: 5px;
      transition: all 0.5s ease;
    }
  }
  .header__nav-list a:hover {
    color: rgba(255, 255, 255, 0.60);
    transition: all 0.5s ease;
  }
  .main__btn:hover, .reg__btn:hover, input[type='submit']:hover, .reco__btn:hover {
    transform:scale(1.03);
    transition: all 0.5s ease;
  }
  .card__form-item input:hover, .card__form-item input:focus {
    border: 2px solid #716cf0;
    transition: all 0.5s ease;
  }
  .footer__nav-list li a:hover, .footer__item-link:hover, .footer__razrab a:hover, .footer__link:hover {
    color: #fff;
    transition: all 0.5s ease;
  }
  .blog__item-img:hover {
    img {
      transform:scale(1.1);
      transition: all 0.5s ease;
    }
  }
  .blog__item-title:hover {
    color: rgba(255, 255, 255, 0.60);
    transition: all 0.5s ease;
  }
  .blog__item-title:hover .blog__item-abs {
    transform:rotate(45deg);
    transition: all 0.5s ease;
  }
  .blog__item-cat:hover {
    background: rgb(182, 162, 138);
    color: #fff;
    transition: all 0.5s ease;
  }
}

@media only screen and (max-width: 1200px) {
  .mission__info .wp-redactor {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
      font-size: 36px;
      margin-bottom: 40px;
      line-height: 120%; /* 50.4px */
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 140%; /* 28px */
      margin-bottom: 30px;
    }
    a {
      color: rgba(88, 83, 227, 1);
    }
    ul, ol {
      padding: 0;
      margin: 0 0 20px 0;
    }
    ul li, ol li {
      list-style-position: inside!important;
      margin: 0 0 10px 0;
      font-size: 18px;
    }
    ul li {
      list-style: disc;
    }
    ol li {
      list-style: decimal;
    }
  }
  .main__title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 750px) {
  .main__title {
    font-size: 22px;
  }
  .mission__info .wp-redactor {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 20px;
      line-height: 120%; /* 50.4px */
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%; /* 28px */
      margin-bottom: 25px;
    }
    a {
      color: rgba(88, 83, 227, 1);
    }
    ul, ol {
      padding: 0;
      margin: 0 0 25px 0;
    }
    ul li, ol li {
      list-style-position: inside!important;
      margin: 0 0 10px 0;
      font-size: 16px;
    }
    ul li {
      list-style: disc;
    }
    ol li {
      list-style: decimal;
    }
  }
  .post__content .wp-redactor {
    max-width: 720px;
    h1, h2, h3, h4, h5, h6 {
      color: #FFF;
      font-family: "Gilroy";
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 38px; /* 126.667% */
      margin-bottom: 20px;
    }
    p {
      color: rgba(255, 255, 255, 0.81);
      margin-bottom: 20px;
      font-family: "Inter";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 155.556% */
    }
    a {
      color: rgba(255, 255, 255, 0.81);
      text-decoration: underline;
    }
    ul, ol {
      padding: 0;
      margin: 0 0 20px 0;
      padding-left: 20px;
    }
    ul li, ol li {
      margin: 0 0 10px 0;
      color: rgba(255, 255, 255, 0.81);
      font-family: 'Inter';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
    }
    ul li {
      list-style: disc;
    }
    ol li {
      list-style: decimal;
    }
  }
}